* {
    background-color: #f3ebd4;
}

@font-face {
    font-family: "Playfair";
    src: url("fonts/Playfair_Display/static/PlayfairDisplay-Regular.ttf");
  }
  
@font-face {
    font-family: "Slabo";
    src: url("fonts/Slabo27px-Regular.ttf");
  }

@font-face {
    font-family: "Varela Round";
    src: url("fonts/PlayfairDisplay-VariableFont_wght.ttf");
  }
  
header {
    font-family: "Playfair";
    text-align: center;
}

h1 {
    font-family: "Playfair";
    font-size: 2em;
    font-weight: 700;
}

h2 {
    font-family: "Playfair";
    font-size: 1.5em;
    font-weight: 700;
}

h3 {
    font-family: "Slabo";
    font-size: 1.25em;
    font-weight: 600;

}

p {
    font-family: "Varela Round";
    font-size: 1em;
    font-weight: 400;
}

section {
    font-family: "Playfair";
    text-align: left;
    margin: 0 auto;
    align-content: center;
    width: 650px;
    height: 275px;
    border-bottom: 3px solid #bea540;
}

section span {
    font-size: 20px;
    text-align: center;
    font-family: "Varela Round";
    display: inline-block;
    height:100px; 
    width: 300px;
    margin: 3px 1.5px;
}

section span.banana {
   background-color: #f7d65b;
}

section span.trunk {
    background-color: #f0598f;
}

section span.sea {
    background-color: #acddef;
}

section span.soil {
    background-color: #bea540;
}

section.fonts {
    font-family: "Playfair";
    text-align: left;
    margin: 0 auto;
    align-content: center;
    width: 650px;
    height: 350px;
    border-bottom: 3px solid #bea540;
}

section.fonts h3 {
    text-align: center;
    text-decoration: underline;
    margin-bottom: -10px;
}

p.playfair {
    font-family: "Playfair";
    text-align: center;
    
}

p.slabo {
    font-family: "Slabo";
    text-align: center;
}

p.varela {
    font-family: "Varela Round";
    text-align: center;
}